<html xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="multipart/form-data;charset=utf-8" />
  <title>猫眼电影 - 一网打尽好电影</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/common.d0f96cc2.css">
<link rel="stylesheet" href="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/profile-profile.13d06bf4.css">
  <link rel="stylesheet" type="text/css" href="//s0.meituan.net/bs/css/?f=fe-sso-fs:build/page/signup/index.6fd9ea7.css">
  <script>if(window.devicePixelRatio >= 2) { 
	  document.write('<link rel="stylesheet" href="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image-2x.8ba7074d.css"/>') }</script>
	  
	  <script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript">
$(function(){  
	function UrlSearch() 
	{
	   var name,value; 
	   var str=location.href; //取得整个地址栏
	   var num=str.indexOf("?") 
	   str=str.substr(num+1); //取得所有参数   stringvar.substr(start [, length ]

	   var arr=str.split("&"); //各个参数放到数组里
	   for(var i=0;i < arr.length;i++){ 
	    num=arr[i].indexOf("="); 
	    if(num>0){ 
	     name=arr[i].substring(0,num);
	     value=arr[i].substr(num+1);
	     this[name]=value;
	     } 
	    } 
	} 
	var Request=new UrlSearch(); //实例化	
	$("#userId").attr("value",Request.userId)
	
	if(Request.type==1){
		$("#type1").attr("class","profile active")
		$("#type2").attr("class","order")
		$("#box111").attr("style","display:show")
		$("#box222").attr("style","display:none")
	}
	if(Request.type==2){
		$("#type1").attr("class","profile")
		$("#type2").attr("class","order active")
		$("#box111").attr("style","display:none")
		$("#box222").attr("style","display:show")
	}
	
	
	$("#username").blur(function(){
		var username=$("#username").val();
		if(username!=""){
			 $.ajax({
		         url:"isNameExist?username="+username,
		         type: "POST"
		     })
		     .success(function(result) {
		         if (result=="yes") {
		        	 $("#box11").attr("style","display:show")
		        	  $("#box12").attr("style","display:none")
		         	$("#box1").html("用户名已存在")
		         }else{
		        	 $("#box11").attr("style","display:none")
		        	  $("#box12").attr("style","display:show")
		         } 
		         	
		     })
		}else{
			$("#box11").attr("style","display:show")
			$("#box1").html("请输入用户名")
			 $("#box12").attr("style","display:none")
		}
		});
	
	$("#email").blur(function(){
		var email=$("#email").val();
		if(email!=""){
			
			if(!email.match(/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/)){
				$("#box21").attr("style","display:show")
		        	  $("#box22").attr("style","display:none")
		         	$("#box2").html("邮箱格式不正确")
			}else{
				
				 $.ajax({
    		         url:"isEmailExist?email="+email,
    		         type: "POST"
    		     })
    		     .success(function(result) {
    		         if (result=="yes") {
    		        	 $("#box21").attr("style","display:show")
   		        	  $("#box22").attr("style","display:none")
    		         	$("#box2").html("邮箱已存在")
    		         }else{
    		        	 $("#box21").attr("style","display:none")
    		        	  $("#box22").attr("style","display:show")
    		         } 
    		         	
    		     })
				
			}

		}else{
			$("#box21").attr("style","display:show")
			$("#box2").html("请输入要绑定的邮箱")
			 $("#box22").attr("style","display:none")
		}
		});
	
	$("#phone").blur(function(){
		var phone=$("#phone").val();
		if(phone!=""){
			
			if(!phone.match(/^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/)){
				$("#box31").attr("style","display:show")
		        	  $("#box32").attr("style","display:none")
		         	$("#box3").html("手机号格式不正确")
			}else{
				
				 $.ajax({
    		         url:"isPhoneExist?phone="+phone,
    		         type: "POST"
    		     })
    		     .success(function(result) {
    		         if (result=="yes") {
    		        	 $("#box31").attr("style","display:show")
   		        	  $("#box32").attr("style","display:none")
    		         	$("#box3").html("该手机号已被绑定")
    		         }else{
    		        	 $("#box31").attr("style","display:none")
    		        	  $("#box32").attr("style","display:show")
    		         } 
    		         	
    		     })
				
			}

		}else{
			$("#box31").attr("style","display:show")
			$("#box3").html("请输入要绑定的手机号")
			 $("#box32").attr("style","display:none")
		}
		});
	
	
});  
	
var filechange=function(event){
	var userId=$("#userId").val();
    var files = event.target.files, file;
    if (files && files.length > 0) {
        // 获取目前上传的文件
        file = files[0];// 文件大小校验的动作
        if(file.size > 1024 * 1024 * 4) {
            alert('图片大小不能超过 4MB!');
            return false;
        }
        var formData = new FormData($("#ImgUpload")[0]); 
       formData.append('userId',userId);
        $.ajax({
	         url:"userImgUpload",
	         type: "POST",
	         data: formData,
	         processData:false,
             contentType:false,
	         
	     })
	     .success(function(result) {
	         if (result=="no") {
	         	alert("上传失败")
	         }	 
		 window.location.href = "userdetail?type=1&userId="+userId;
	     })
        
    }
};


</script>
</head>
<body>

<!-- 头部选项 -->
<div th:replace="include::head(index=${index})" ></div>
<div class="header-placeholder"></div>


    <div class="container" id="app">
<div class="content">
  <div class="main">
    <div class="info-content clearfix">
      <div class="user-profile-nav">
        <h1>个人中心</h1>
        <a th:href="'userdetail?type=2&userId='+${session.user.userId}" class="orders"  id="type2">我的订单</a>
        <a th:href="'userdetail?type=1&userId='+${session.user.userId}" class="profile"  id="type1">基本信息</a>
      </div>

<div class="profile-container"  id="box111">
        <div class="profile-title">
          基本信息
        </div>
        <div class="avatar-container">
          <div class="avatar-content">
            <img class="J-setted-avatar" th:src="@{/userHead/{filename} (filename=${session.user.headImg})}">
            <input type="hidden" id="userId" name="userId" >
            <form id="ImgUpload" action="userImgUpload" method="post"  enctype="multipart/form-data" >
            <div class="J-upload-avatar-w upload-avatar-image">          
              <input type="button" class="J-upload-avatar upload-btn" value="更换头像">
              <input type="file" id="fileUpload" name="file" onchange="filechange(event)">

            </div>
            </form>
            <div class="tips">支持JPG,JPEG,PNG格式,且文件需小于1M</div>
          </div>
        </div>
        <form id="J-userexinfo-form" class="userexinfo-form" th:action="'updatedetail?type=1&userId='+${session.user.userId}" method="post">
        
          <div class="form-field form-field--username form-field--error">
                <label>用户名</label>

                    <input id="username" type="text" name="username" class="a" th:value="${session.user.username}" >

                
			
            <span class="inline-tip" id="box11" style="display: none;"><i class="tip-status tip-status--opinfo"></i><i id="box1">请输入用户名</i></span>
            <span class="inline-tip" id="box12" style="display: none;"><i class="tip-status tip-status--success"></i></span>
            </div>
          <div class="form-field form-field--mobile form-field--ok">
                <label>手机号</label>

                    <input type="text" name="phone" class="b" th:value="${session.user.phone}" id="phone" >
                    

                

                    <span class="inline-tip" id="box31" style="display: none;"><i class="tip-status tip-status--opinfo"></i><i id="box3">请输入手机号</i></span>
            <span class="inline-tip" id="box32" style="display: none;"><i class="tip-status tip-status--success"></i></span>
            </div>
          <div class="form-field form-field--pwd4 form-field--error">
                <label>邮箱</label>

                    <input id="email" type="text" name="email" class="c" th:value="${session.user.email}" >

                

            <span class="inline-tip" id="box21" style="display: none;"><i class="tip-status tip-status--opinfo"></i><i id="box2">请输入要绑定的邮箱</i></span>
            <span class="inline-tip" id="box22" style="display: none;"><i class="tip-status tip-status--success"></i></span>
            </div>
          
          <input type="hidden" name="csrf" value="89e179b55967fe0f93dcbafeec5805d341804ab084821b188beb1a14d392270e">
          <div class="userexinfo-bottom-section clearfix">
            <input type="submit" class="form-save-btn" value="保存">
            <!-- <span id="cancell-btn" class="cancel_alert hand">注销账号1</span> -->
          </div>

        </form>
      </div>


<div class="orders-container" id="box222" style="display: none;">
  <div class="profile-title">我的订单</div>


	    <div class="order-box" th:each="o:${os}">
      <div class="order-header">
        <span class="order-date" th:text="${'下单时间: '+o.showOrderTime}">2018-02-25</span>
        <span class="order-id" th:text="${'猫眼订单号 '+o.orderNo}">猫眼订单号:1856822106</span>
          <span class="del-order" data-orderid="1856822106"></span>
      </div>

      <div class="order-body">
        <div class="poster">
          <img th:src="@{/movieImg/cover/{img}(img=${o.pic})}" style="width: 66px;height: 91px;">
        </div>

        <div class="order-content">
          <div class="movie-name" th:text="${o.movieName}">《红海行动》</div>
          <div class="cinema-name" th:text="${o.cinemaName}">美达国际影城</div>
          <div class="hall-ticket">
            <span th:text="${o.orderSeat}">四号厅</span>
          </div>
          <div class="show-time" th:text="${o.startTime}">周日 2月25日 19:00</div>
        </div>

        <div class="order-price" th:text="${'￥'+o.sumprice}">144</div>

        <div class="order-status">
          已完成
        </div>

        <div class="actions">
          <div>
            <a href="#"  >查看详情</a>
          </div>
        </div>
      </div>
    </div>

  <div class="orders-pager">
    
  </div>
</div>

    </div>
  </div>

  <div class="body-mask"></div>
  <div id="img-cropper" class="img-cropper">
    <div class="img-cropper-container">
      <div class="img-cropper-header">
        上传头像
        <span class="close-icon"></span>
      </div>
      <div class="img-cropper-content">
        <div class="img-main">
          <div class="img-main-wrapper">
            <img src="https://img.meituan.net/avatar/0d2b24e60c7fcd7f9528ffde9ac20e2325715.jpg">
          </div>
        </div>
        <div class="img-preview">
          <p>预览</p>
          <div class="img-preview-block"></div>
        </div>
      </div>
      <div class="img-cropper-footer">
        <div class="img-btn-confirm">
          确认
        </div>
        <div class="img-btn-cancel">
          取消
        </div>
      </div>
    </div>
  </div>
  <script>
   var occupation = {"信息技术":["互联网","IT","通信","电子","游戏"],"金融保险":["投资","股票基金","保险","银行","信托担保"],"商业服务":["资讯","贸易","美容保健","家政服务","旅游","餐饮酒店","娱乐休闲","批发零售","汽车"],"建筑地产":["房地产","建筑","物业","装修"],"工程制造":["机械制造","生物医药","食品","服装","能源","化工"],"交通运输":["航空","铁路","航运船舶","公共交通","物流运输"],"文化传媒":["媒体出版","设计","广告创意","动漫","公关会展","摄影"],"娱乐体育":["影视","运动体育","音乐","模特"],"公共事业":["医疗","教育","政府机关","科研","公益机构","农林牧渔"],"学生":["学生"],"其他":["其他"]};
  </script>

</div>

<div class="mask3">
    <div class="modal-container" style="display:none">
    <div class="modal">
      <span class="icon"></span>

      <p class="tip">您确定要删除该订单嘛？删除后，不可恢复～</p>

        <div class="short btn ok-btn">确定</div>
        <div class="short btn cancel-btn">取消</div>
    </div>
  </div>

</div>

<div class="mask1">
    <div class="modal-container" style="display:none">
    <div class="modal">
      <span class="icon"></span>

      <p class="tip">请注意，注销账号会清空所有订单信息、影评、积分、<br>账户余额等信息且无法找回，是否继续？</p>

        <div class="short btn ok-btn">确定</div>
        <div class="short btn cancel-btn">取消</div>
    </div>
  </div>

</div>

<div class="mask2">
    <div class="modal-container" style="display:none">
    <div class="modal">
      <span class="icon"></span>

      <p class="tip">请联系客服10105335</p>

        <div class="ok-btn btn">我知道了</div>
    </div>
  </div>

</div>

    </div>

<div class="footer" style="visibility: visible;">
    <p class="friendly-links">
        关于猫眼 :
        <a href="http://ir.maoyan.com/s/index.php#pageScroll0" target="_blank">关于我们</a>
        <span></span>
        <a href="http://ir.maoyan.com/s/index.php#pageScroll1" target="_blank">管理团队</a>
        <span></span>
        <a href="http://ir.maoyan.com/s/index.php#pageScroll2" target="_blank">投资者关系</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        友情链接 :
        <a href="http://www.meituan.com" data-query="utm_source=wwwmaoyan" target="_blank">美团网</a>
        <span></span>
        <a href="http://www.gewara.com" data-query="utm_source=wwwmaoyan">格瓦拉</a>
        <span></span>
        <a href="http://i.meituan.com/client" data-query="utm_source=wwwmaoyan" target="_blank">美团下载</a>
        <span></span>
        <a href="https://www.huanxi.com" data-query="utm_source=maoyan_pc" target="_blank">欢喜首映</a>
    </p>
    <p class="friendly-links">
      商务合作邮箱：v@maoyan.com
      客服电话：10105335
      违法和不良信息举报电话：4006018900
      <br>
      投诉举报邮箱：tousujubao@meituan.com
      舞弊线索举报邮箱：wubijubao@maoyan.com
    </p>
    <p>
        ©2016
        猫眼电影 maoyan.com
        <a href="https://tsm.miit.gov.cn/pages/EnterpriseSearchList_Portal.aspx?type=0&amp;keyword=京ICP证160733号&amp;pageNo=1" target="_blank">京ICP证160733号</a>
        <a href="http://www.miibeian.gov.cn" target="_blank">京ICP备16022489号-1</a>
        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102003232" target="_blank">京公网安备 11010102003232号</a>
        <a href="/about/licence" target="_blank">网络文化经营许可证</a>
        <a href="http://www.meituan.com/about/rules" target="_blank">电子公告服务规则</a>
    </p>
    <p>北京猫眼文化传媒有限公司</p>
</div>


</body></html>